* {
    color: #dcdcdc;
}

.form {
    background-color: #3c3f41;
}

.button, .textbox {
    background-color: #45494a;
    border-color: #5c5c5c;
    border-radius: 2px;
    border-width: 1px;
    color: #dcdcdc;
}

.button:hover {
    background-color: #5f6566;
}

.button:active {
    background-color: #2b2b2b;
}

.button:focus, .textbox:focus {
    border-color: #6897bb;
}

.panel {
    background-color: #3c3f41;
    border-color: #333333;
    border-width: 1px;
}

.TabControl {
    background-color: #2f3136;
    color: #8b9294;
    border-radius: 3px;
}

.TabControl > .Panel {
    border-radius: 0px;
}

.Tab {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.Tab:hover {
    background-color: #34373c;
    color: #dcddde;
}

.Tab:checked {
    background-color: #36393f;
    color: white;
}

.ListBox {
    background-color: #202225;
    color: #8b9294;
    border-width: 1px;
    border-color: #202225;
    border-radius: 3px;
}

.ListBoxItem:hover {
    background-color: #34373c;
    color: #dcddde;
}

.ListBoxItem:checked {
    background-color: #393c43;
    color: white;
}

.CheckBox {
    color: white;
}

.Check {
    background-color: #202225;
    border-color: #8b9294;
    border-width: 1px;
    color: white;
}

.Check:hover {
    background-color: #34373c;
}

.CheckBox > .Check {
    border-radius: 1px;
}

.RadioButton {
    color: white;
}

.RadioButton > .Check {
    color: white;
    border-radius: 6px;
}

.NumericUpDown {
    background-color: #202225;
    color: #8b9294;
    border-radius: 3px;
}

.NumericUpDown:focus {
    border-width: 1px;
    border-color: dodgerblue;
    background-color: #393c43;
    color: white;
}

.UpDownButtons {
    background-color: #2f3136;
    border-radius: 1px;
    color: #8b9294;
}

.UpDownButtons:hover {
    background-color: #34373c;
}

.UpDownButtons:active {
    background-color: #202225;
}

.ComboBox {
    background-color: #202225;
    color: #8b9294;
    border-radius: 3px;
}

.ComboBox:focus {
    border-width: 1px;
    border-color: dodgerblue;
    background-color: #393c43;
    color: white;
}

.DropDownArrow {
    color: #8b9294;
}
