/* 
    Colors were selected for the default style based on a default Windows 8.1 install.
*/

button {
    background-color: rgb(240, 240, 240);
    background-image: linear-gradient(to bottom, transparent, rgb(229, 229, 229));
    border-color: rgb(172, 172, 172);
    border-style: solid;
    border-width: 1px;
    color: black;
}

button:hover {
    background-color: rgb(235, 244, 252);
    background-image: linear-gradient(to bottom, transparent, rgb(220, 236, 252));
    border-color: rgb(126, 180, 234);
}

button:active {
    background-color: rgb(218, 235, 252);
    background-image: linear-gradient(to bottom, transparent, rgb(196, 224, 252));
    border-color: rgb(86, 157, 229);
}

button:disabled {
    background-color: rgb(239, 239, 239);
    background-image: none;
    border-color: rgb(217, 217, 217);
    color: rgb(85, 85, 85);
}

checkbox, radiobutton {
    accent-color: white;
    color: black;
}

checkbox:hover, radiobutton:hover {
    accent-color: rgb(243, 249, 255);
}

checkbox:active, radiobutton:active {
    accent-color: rgb(217, 236, 255);
}

checkbox:disabled, radiobutton:disabled {
    accent-color: rgb(230, 230, 230);
    color: rgb(85, 85, 85);
}