/* 
    Colors were selected for the default style based on a default Windows 8.1 install.
*/

checkbox {
    accent-color: white;
    color: black;
}

checkbox:hover {
    accent-color: rgb(243, 249, 255);
}

checkbox:active {
    accent-color: rgb(217, 236, 255);
}

checkbox:disabled {
    accent-color: rgb(230, 230, 230);
    color: rgb(85, 85, 85);
}
